In [1]:
#standard libraries
import pandas as pd, numpy as np

In [2]:
#export the file
courses = pd.read_excel('./experimental/tables_to_use/dashboard_sketches.xlsx',
                        sheet_name='courses')

courses.head()

,COURSE_ID,COURSE_TITLE,Unnamed: 2,Unnamed: 3,Unnamed: 4,ADDENDUM,NEED
0,C0001,"CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION AND C...",NaN,NaN,NaN,COURSE_ID,X
1,C0002,SUSTAINABLE FOOD SYSTEMS,NaN,NaN,NaN,COURSE_TITLE,O
2,C0003,CARBON FOOTPRINT,NaN,NaN,NaN,NaN,NaN
3,C0004,"REDUCING ALL FORMS OF INEQUALITY, INCLUDING GE...",NaN,NaN,NaN,NaN,NaN
4,C0005,PARTNERSHIPS,NaN,NaN,NaN,NaN,NaN

In [3]:
#remove uninformative features
courses = courses.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'ADDENDUM', 'NEED'],
                       axis=1,
                       errors='ignore')

In [4]:
#display
courses.head()

  COURSE_ID                                       COURSE_TITLE
0     C0001  CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION AND C...
1     C0002                           SUSTAINABLE FOOD SYSTEMS
2     C0003                                   CARBON FOOTPRINT
3     C0004  REDUCING ALL FORMS OF INEQUALITY, INCLUDING GE...
4     C0005                                       PARTNERSHIPS

EXPORT THE TABLE

In [5]:
#create a file name
xlx_name = 'course_details.xlsx'

#export to excel
courses.to_excel('./experimental/created_tables/' + xlx_name,
                  sheet_name='course_details')