In [16]:
#standard libraries
import pandas as pd, numpy as np

In [17]:
#export the file
classes = pd.read_excel('./experimental/tables_to_use/dashboard_sketches.xlsx',
                        sheet_name='classes')

classes.head(3)

,COURSE_ID,CYCLE_ID,CLASS_ID,CLASS_TITLE,TEACHER_ID,CLASS_DATE,CLASS_START_DATE,CLASS_END_DATE,Unnamed: 8,Unnamed: 9,Unnamed: 10,ADDENDUM,NEED
0,C0001,CYC00000001,CERPC101,"001 - CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION...",TE001,NaN,2024-01-01,2024-01-07,NaN,NaN,NaN,COURSE_ID,X
1,C0001,CYC00000001,CERPC102,"002 - CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION...",TE001,NaN,2024-01-08,2024-01-14,NaN,NaN,NaN,CYCLE_ID,X
2,C0001,CYC00000001,CERPC103,"003 - CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION...",TE001,NaN,2024-01-15,2024-01-21,NaN,NaN,NaN,CLASS_ID,X

In [18]:
#remove uninformative features
classes = classes.drop(['CYCLE_ID', 'TEACHER_ID', 'CLASS_DATE', 'CLASS_START_DATE', 'CLASS_END_DATE',
                        'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'ADDENDUM', 'NEED'],
                       axis=1,
                       errors='ignore')

In [19]:
classes.head(3)

  COURSE_ID  CLASS_ID                                        CLASS_TITLE
0     C0001  CERPC101  001 - CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION...
1     C0001  CERPC102  002 - CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION...
2     C0001  CERPC103  003 - CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION...

CHECK FOR DUPLICATES

In [20]:
#check for duplicate values
dupl_columns = list(classes.columns)

mask = classes.duplicated(subset=dupl_columns)
classes_duplicates = classes[mask]
print(f'Number of Duplicates: {classes_duplicates.shape[0]}')

Number of Duplicates: 209

In [21]:
#remove duplicates
classes = classes.drop_duplicates(subset=dupl_columns)
print(f'New Dimensions: {classes.shape[0]}')

New Dimensions: 37

In [22]:
classes.head()

  COURSE_ID  CLASS_ID                                        CLASS_TITLE
0     C0001  CERPC101  001 - CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION...
1     C0001  CERPC102  002 - CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION...
2     C0001  CERPC103  003 - CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION...
3     C0001  CERPC104  004 - CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION...
4     C0001  CERPC105  005 - CIRCULAR ECONOMY, RESPONSIBLE PRODUCTION...

EXPORT THE TABLE

In [23]:
#create a file name
xlx_name = 'class_details.xlsx'

#export to excel
classes.to_excel('./experimental/created_tables/' + xlx_name,
                  sheet_name='class_details')