In [1]:
#standard libraries
import pandas as pd, numpy as np

#visualization libraries
import seaborn as sns
import matplotlib as plt
from matplotlib import pyplot as plt

In [2]:
#import the data set - with encoding
user_status = pd.read_csv('original/user_status.csv', index_col=0)

user_status.head(1)

             USERNAME       EMAIL ADDRESS FIRST NAME LAST NAME  STAFF STATUS
0  040198asya@mail.ru  040198asya@mail.ru  Анастасия  Осминина         False

In [3]:
user_status.shape

(659, 5)

In [4]:
#basic information
user_status.info()

<class 'pandas.core.frame.DataFrame'>
Index: 659 entries, 0 to 658
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   USERNAME       659 non-null    object
 1   EMAIL ADDRESS  659 non-null    object
 2   FIRST NAME     659 non-null    object
 3   LAST NAME      659 non-null    object
 4   STAFF STATUS   659 non-null    bool
dtypes: bool(1), object(4)
memory usage: 26.4+ KB

##### check for duplicates

In [5]:
#check for duplicate values
dupl_columns = list(user_status.columns)

mask = user_status.duplicated(subset=dupl_columns)
status_duplicates = user_status[mask]
print(f'Number of Duplicates: {status_duplicates.shape[0]}')

Number of Duplicates: 0

##### check for null values

In [6]:
#check for null values
user_status.isnull().sum()[user_status.isnull().sum() > 0]

Series([], dtype: int64)

##### unique values

In [7]:
#find how unique each feature is
print(f"Number of Unique Username: {user_status['USERNAME'].nunique()}")
print(f"Number of Unique Status: {user_status['STAFF STATUS'].nunique()}")

Number of Unique Username: 659
Number of Unique Status: 2

##### status

In [8]:
print(f"Unique Status: {user_status['STAFF STATUS'].unique()}")

Unique Status: [False  True]

In [9]:
user_status['STAFF STATUS N'] = user_status['STAFF STATUS'].apply(lambda x: 1 if x == True else 0)

##### data types

In [10]:
#convert the data types
user_status['USERNAME'] = user_status['USERNAME'].astype('string')
user_status['EMAIL ADDRESS'] = user_status['EMAIL ADDRESS'].astype('string')
user_status['FIRST NAME'] = user_status['FIRST NAME'].astype('string')
user_status['LAST NAME'] = user_status['LAST NAME'].astype('string')
user_status['STAFF STATUS N'] = user_status['STAFF STATUS N'].to_numpy('int8')

#### **Export**

In [11]:
#create a file name
xlx_name = 'user_status_details.xlsx'

#save to excel
user_status.to_excel('./adjusted/' + xlx_name,
                     sheet_name='user_status')